{% extends 'dash/base.html' %}{% load static %}


{% block title %}
<title>Ad-mision| Dashboard - Usuarios</title>

{% endblock %}
{% block descripcion %}
    <meta name="description" content="Aquí podras ver los usuarios activos">
    <meta name="author" content="Ad-mision s Team dev">
{% endblock %}

{% block content %}
    <link href="{% static 'login/assets/css/app-modern.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />
    <!-- Datatables css -->
    <link href="{% static 'login/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'login/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
   <link href="{% static 'login/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
    <link href="{% static 'login/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet" type="text/css" />
  <style>
    #alternative-page-datatable tbody tr:hover {
        cursor: pointer;
    }
        th{
            color: white !important;
        }
  </style>
         <!-- ============================================================== -->
            <!-- Start Page Content here -->
            <!-- ============================================================== -->
            <div class="content-page">
                <div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row d-flex justify-content-between mb-3 mt-2">
                            <div class="col-4">
                                <h4 class="page-title">Usuarios</h4>
        
                            </div>
                        <div class="col-lg-2">
                            <div class="d-grid">
                                <button type="button" class="btn btn-soft-primary" data-bs-toggle="modal" data-bs-target="#modal-add-user">Agregar usuario</button>
                            </div>
                        </div>
                       </div>           
                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <table id="alternative-page-datatable" class="table table-striped dt-responsive nowrap w-100">
                                            <thead class="bg-primary" >
                                                <tr >
                                                    <th>Usuario</th>
                                                    <th>Nombres</th>
                                                    <th>Apellidos</th>
                                                    <th>Correo</th>
                                                    <th>Rol</th>
                                                    <th>Asignaciones</th>
                                                </tr>
                                            </thead>
                                        
                                        
                                            <tbody>
                                                {% for user in users %}
                                                <tr  id="{{user.id}}">
                                                    <td>{{ user.username }}</td>
                                                    <td >{{ user.first_name }}</td>

                                                    <td>{{ user.last_name}}</td>
                                                    <td>{{ user.email }}</td>

                                                    {% if user.is_staff %}

                                                        <td>Colaborador</td>
                                                    {% elif user.is_superuser %}
                                                        <td>Administrador</td>
                                                    {% else %}
                                                        <td>Subscriptor</td>

                                                    {% endif %}
                                                    <td>{{user.cantidad}}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>                                           
                                    </div> <!-- end card body-->
                                </div> <!-- end card -->
                            </div><!-- end col-->
                        </div> <!-- end row-->
                    </div>
                </div>
            </div>

            <!-- ============================================================== -->
            <!-- End Page content -->
            <!-- ============================================================== -->

            <!-- ============================================================== -->
            <!-- MODAL ADD USER -->
            <!-- ============================================================== -->

            <div id="modal-add-user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h4 class="modal-title" id="primary-header-modalLabel " style="color: white;">Agregar usuario</h4>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <form action="" id="form-add-user"  method="post"> {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nameuser" name="nameuser" placeholder="name@example.com">
                                    <label for="floatingInput">Nombre de usuario</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="mailuser" name="mailuser" placeholder="name@example.com">
                                    <label for="floatingInput">Correo</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" min="0" class="form-control" id="asignaciones" name="asignaciones" placeholder="asignaciones">
                                    <label for="floatingInput">Asignaciones</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="roluser" name="roluser" aria-label="Seleccione rol">
                                      <option value="0" selected>Colaborador</option>
                                      <option value="1">Administrador</option>
                                      <option value="2">Subscriptor</option>
                                    </select>
                                    <label for="floatingSelect">Rol</label>
                                  </div>
                                <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="passworduser" name="passworduser" placeholder="Password">
                                    <label for="floatingPassword">Contraseña</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancelar</button>
                                    <button type="button" id="btn_user_add" class="btn btn-primary">Guardar</button>
                                </div>
                            </form>
                        </div>
                   
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <div class="modal fade" id="spinner_modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content"  style="background-color: transparent;">
                  
                        <div class="modal-body text-center">
                            <div class="spinner-border avatar-lg text-primary" role="status"></div>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <!-- ============================================================== -->
            <!-- END MODAL ADD USER -->
            <!-- ============================================================== -->
            <div id="modal-up-user" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="primary-header-modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h4 class="modal-title" id="primary-header-modalLabel " style="color: white;">Editar usuario</h4>
                            <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-hidden="true"></button>
                        </div>
                        <div class="modal-body">
                            <form  method="post"> {% csrf_token %}
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nameuser_edit" name="nameuser" placeholder="name@example.com">
                                    <label for="floatingInput">Nombre de usuario</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="nombre_edit" name="nombre_edit" placeholder="name@example.com">
                                    <label for="floatingInput">Nombre(s)</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="apellido_edit" name="apellido_edit" placeholder="name@example.com">
                                    <label for="floatingInput">Apellido(s)</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="mailuser_edit" name="mailuser_edit" placeholder="name@example.com">
                                    <label for="floatingInput">Correo</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input type="number" min="0" class="form-control" id="asignaciones_edit" name="asignaciones_edit" placeholder="asignaciones">
                                    <label for="floatingInput">Asignaciones</label>
                                </div>
                                <input type="text" name="" id="id_user_edit" value="" class="d-none">
                                <div class="form-floating mb-3">
                                    <select class="form-select" id="roluser_edit" name="roluser_edit" aria-label="Seleccione rol">
                                      <option value="0" selected>Colaborador</option>
                                      <option value="1">Administrador</option>
                                      <option value="2">Subscriptor</option>
                                    </select>
                                    <label for="floatingSelect">Rol</label>
                                  </div>
                                <div class="form-floating mb-3 " title="No es posible ver la contraseña, colo cambiarla.">
                                    <input type="password" class="form-control" id="passworduser_edit" name="passworduser_edit" placeholder="Nueva contraseña">
                                    <label for="floatingPassword">Contraseña</label>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" id="btn_user_delete" data-bs-dismiss="modal">Eliminar usuario</button>
                                    <button type="button" id="btn_user_up" class="btn btn-primary">Actualizar</button>
                                </div>
                            </form>
                        </div>
                   
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        <!-- Vendor js -->
        <script src="{% static 'login/assets/js/vendor.min.js' %}"></script>

        <!-- Datatables js -->
        <script src="{% static 'login/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
   
        <script src="{% static 'login/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>

        <script src="{% static 'login/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
        <script src="{% static 'login/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>
        <!--Sweet Alert-->
        <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
        <!-- Datatable Demo Aapp js -->
        <script src="{% static 'login/js/datatables.js' %}"></script>
   
        <!-- App js -->
        <script src="{% static 'login/assets/js/app.min.js' %}"></script>
{% endblock %}