{% extends 'dash/base.html' %}{% load static %}


{% block title %}
<title>Mis licencias| Dashboard</title>

{% endblock %}
{% block descripcion %}
<meta name="description" content="Aquí podras ver los usuarios activos">
<meta name="author" content="Hyper s Team dev">
{% endblock %}

{% block content %}



<!-- Datatables css -->
<link href="{% static 'login/assets/vendor/datatables.net-bs5/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet"
    type="text/css" />
<link href="{% static 'login/assets/vendor/datatables.net-responsive-bs5/css/responsive.bootstrap5.min.css' %}"
    rel="stylesheet" type="text/css" />
<link href="{% static 'login/assets/vendor/datatables.net-fixedcolumns-bs5/css/fixedColumns.bootstrap5.min.css' %}"
    rel="stylesheet" type="text/css" />
<link href="{% static 'login/assets/vendor/datatables.net-fixedheader-bs5/css/fixedHeader.bootstrap5.min.css' %}"
    rel="stylesheet" type="text/css" />
<link href="{% static 'login/assets/vendor/datatables.net-buttons-bs5/css/buttons.bootstrap5.min.css' %}"
    rel="stylesheet" type="text/css" />
<link href="{% static 'login/assets/vendor/datatables.net-select-bs5/css/select.bootstrap5.min.css' %}" rel="stylesheet"
    type="text/css" />

<!-- Theme Config Js -->
<script src="{% static 'login/assets/js/hyper-config.js' %}"></script>

<!-- App css -->
<link href="{% static 'login/assets/css/app-modern.min.css' %}" rel="stylesheet" type="text/css" id="app-style" />

<!-- Icons css -->
<link href="{% static 'login/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
<style>
    .cursor-pointer {
        cursor: pointer;
    }

    th {
        color: white !important;
    }
</style>
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Hyper</a></li>
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Licencia</a></li>
                                <li class="breadcrumb-item active">Mis licencias</li>
                            </ol>
                        </div>
                        <h4 class="page-title">MIS LICENCIA</h4>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12 ">
                    <table id="alternative-page-datatable" class="table table-striped dt-responsive w-100">
                        <thead class="bg-primary">
                            <tr>
                                <th>Solicitante</th>
                                <th>Folio</th>
                                <th>Expedicion</th>
                                <th>Vencimiento</th>
                                <th>Curp</th>
                                <th>Tipo </th>
                                <th>Acciones</th>
                            </tr>
                        </thead>


                        <tbody>
                            {% for licencia in licencias %}
                            <tr id="{{licencia.id}}">
                                <td>{{ licencia.datos_nombres }}</td>
                                <td>{{ licencia.folio}}</td>
                                <td>{{ licencia.lic_expedicion }}</td>
                                <td>{{ licencia.lic_valido_temp }}</td>
                                <td style="text-transform: uppercase;">{{ licencia.datos_curp }}</td>
                                <td>{{ licencia.lic_tipo }}</td>

                                <td class="table-action">

                                    <a type="button" href="{% url 'view_edit_licencia' licencia.id %}" 
                                        class="btn btn-light" 
                                        title="Editar licencia">

                                        <i class="mdi mdi-pencil-outline"></i>
                                    </a>
                                    <a type="button" href="{% url 'view_watch_licencia' licencia.id %}"
                                        title="Ver licencia" class="btn btn-primary"><i
                                            class="mdi mdi-selection-search"></i> </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->


<!-- Vendor js -->
<script src="{% static 'login/assets/js/vendor.min.js' %}"></script>

<!-- Code Highlight js -->
<script src="{% static 'login/assets/vendor/highlightjs/highlight.pack.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/clipboard/clipboard.min.js' %}"></script>
<script src="{% static 'login/assets/js/hyper-syntax.js' %}"></script>

<!-- Datatables js -->
<script src="{% static 'login/assets/vendor/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-bs5/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-responsive-bs5/js/responsive.bootstrap5.min.js' %}"></script>
<script 
    src="{% static 'login/assets/vendor/datatables.net-fixedcolumns-bs5/js/fixedColumns.bootstrap5.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-buttons-bs5/js/buttons.bootstrap5.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-buttons/js/buttons.flash.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-keytable/js/dataTables.keyTable.min.js' %}"></script>
<script src="{% static 'login/assets/vendor/datatables.net-select/js/dataTables.select.min.js' %}"></script>

<!-- Datatable Demo Aapp js -->
<script src="{% static 'login/assets/js/pages/demo.datatable-init.js' %}"></script>

<!-- App js -->
<script src="{% static 'login/assets/js/app.min.js' %}"></script>

{% endblock %}